/* Start General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Fonts */

@font-face {
    font-family: "MainFont";
    src: url(/Fonts/Guminert.ttf);
}


li {
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    color: #333;
    background-color: #f8f9fa;
}



/* End General */


/* Start Header */

.header {
    background-color: #000814;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.header .logo {
    font-size: 30px;
    font-weight: bold;
}

.header ul {
    background-color: #003556;
    padding: 15px;
    color: white;
    border-radius: 10px;
}

.header ul li {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

.header ul li:not(:last-child) {
    border-right: 1px solid #ffffff;
}

.header .Sign_Login {
    display: flex;
    gap: 10px;
}

.header .Sign_Login .Sign,
.header .Sign_Login .Login {
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    color: white;
}

.Sign {
    background-color: rgb(148, 34, 34);
}

.Login {
    background-color: #0f777e;
}


/* End Header */



/* Start General Sections Settings */

.IntroVideo {
    width: 100%;
    object-fit: cover;
    height: 600px;
}



.mainContainer {

    font-family: "MainFont";
    background-color: #f3f3f3;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, minmax(300px, 1fr));
    gap: 20px;
}

.section {
    padding: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section-1 {
    padding: 5px;
}

.section-2 {
    background-color: #e67e22;
}

.section-3 {
    background-color: #e74c3c;
}

.section-4 {
    background-color: #8e44ad;
}

.section-5 {
    background-color: #3498db;
}


/* End General Sections Settings */