/* Start General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Fonts */

@font-face {
    font-family: "MainFont";
    src: url(/Fonts/Guminert.ttf);
}


li {
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    color: #333;
    background-color: #f8f9fa;
}



/* End General */


/* Start Header */

.header {
    background-color: #000814;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.header .logo {
    font-size: 30px;
    font-weight: bold;
}

.header ul {
    background-color: #003556;
    padding: 15px;
    color: white;
    border-radius: 10px;
}

.header ul li {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

.header ul li:not(:last-child) {
    border-right: 1px solid #ffffff;
}

.header .Sign_Login {
    display: flex;
    gap: 10px;
}

.header .Sign_Login .Sign,
.header .Sign_Login .Login {
    cursor: pointer;
    border-radius: 10px;
    color: white;
    padding: 12px;
    font-size: 1.3rem;
}

.Sign {
    background-color: rgb(148, 34, 34);
}

.Login {
    background-color: #0f777e;
}


/* End Header */



/* Start General Sections Settings */




.mainContainer {

    font-family: "MainFont";
    background-color: #f3f3f3;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, minmax(300px, 1fr));
    gap: 20px;
}

.section {
    padding: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section-1 {
    padding: 5px;
}

.section-2 {
    background-color: #e67e22;
}

.section-3 {
    background-color: #e74c3c;
}

.section-4 {
    background-color: #8e44ad;
}

.section-5 {
    background-color: #3498db;
}


/* End General Sections Settings */






/* Start Section 1 */

.IntroVideo {
    width: 100%;
    object-fit: cover;
    height: 35vw;
}

.LandingVidSection {
    position: relative;
    perspective: 500px;
}

.LandingVidSection .ContentBox {
    padding: 20px;
    height: 60%;
    width: 35%;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%) translateZ(100px);
    background: rgba(255, 254, 254, 0.18);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 254, 254, 0.39);
    animation: VideoContentBoxShowUp 2s cubic-bezier(0.815, 0.005, 0.240, 1.000) forwards;
}



.LandingVidSection .ContentBox .ContentData h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin-bottom: 0;
    color: #f9ff00;

}

.LandingVidSection .ContentBox .ContentData h4 {
    margin-bottom: 20px;
    margin-top: 10px;
    color: #121010;
    font-size: 1.2rem;

}

.LandingVidSection .ContentBox .ContentData {
    padding: 0 10px;
}

.LandingVidSection .ContentBox .ContentData button {
    display: block;
    margin: 0 0 0 auto;
    background-color: #0064a3;
    cursor: pointer;
    padding: 20px;
    position: relative;
    font-size: 1.3rem;
    border-radius: 20px;
    border: none;
    color: white;
}

/* End Section 1  */




/* Start Animations  */

/* End Animations */


/* Start KeyFrames */
@keyframes VideoContentBoxShowUp {

    0%,
    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        left: 68%;
        transform: translate(-50%, -50%);
    }
}

/* End KeyFrames */